<header id='header'>
   <div class='header container'>
      <div class='header_title'>
         <img class="header_logo" src="/assets/logo_collaborators.png" alt="Logo do site">
         <h1><span class="header_span">.</span>collaborators</h1>
      </div>
      <p class='header_text'>
         
      </p>
      <label for='switch' class='label_checkbox'>
         <input type='checkbox' id='switch' />
      </label>
   </div>
</header>

<main>
	<section class='ranking container'>

		<div class='ranking_view active'>
			<div class="view_header">
            <h1 class='view_title'>Ranking Geral da Empresa</h1>
            <i class="icon-info"></i>
         </div>
			<ul class='view_list'>
				<ul class='view_list__tops'>
               <li class="view_list__itemstop top1">
                  <img src="../assets/1_place.png" alt="Primeiro Lugar" class="view_list__items___img">
                  <h3 class="position_name"><span>{{data.users.[0].fullName}}</span></h3>
                  <p class="view_list__items___total">{{data.users.[0].totalPoints}}</p>
               </li>
               <li class="view_list__itemstop top2">
                  <img src="../assets/2_place.png" alt="Segundo Lugar" class="view_list__items___img">
                  <h3 class="position_name"><span>{{data.users.[1].fullName}}</span></h3>
                  <p class="view_list__items___total">{{data.users.[1].totalPoints}}</p>
               </li>
               <li class="view_list__itemstop top3">
                  <img src="../assets/3_place.png" alt="Terceiro Lugar" class="view_list__items___img">
                  <h3 class="position_name"><span>{{data.users.[2].fullName}}</span></h3>
                  <p class="view_list__items___total">{{data.users.[2].totalPoints}}</p>
               </li>
				</ul>
            <div>
               <ul class="view_list__left">
                  <li class="view_list__items">
                     <h3 class="position_name">4º Lugar - <span>{{data.users.[3].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[3].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">5º Lugar - <span>{{data.users.[4].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[4].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">6º Lugar - <span>{{data.users.[5].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[5].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">7º Lugar - <span>{{data.users.[6].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[6].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">8º Lugar - <span>{{data.users.[7].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[7].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">9º Lugar - <span>{{data.users.[8].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[8].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">10º Lugar - <span>{{data.users.[9].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[9].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">11º Lugar - <span>{{data.users.[10].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[10].totalPoints}}</span>
                     </p>
                  </li>
               </ul>
               <ul class="view_list__right">
                  <li class="view_list__items">
                     <h3 class="position_name">12º Lugar - <span>{{data.users.[11].fullName}}</span></h3>
                     <p class="view_list__items___total">Pontuação total de reações:
                        <span>{{data.users.[11].totalPoints}}</span></p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">13º Lugar - <span>{{data.users.[12].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[12].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">14º Lugar - <span>{{data.users.[13].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[13].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">15º Lugar - <span>{{data.users.[14].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[14].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">16º Lugar - <span>{{data.users.[15].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[15].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">17º Lugar - <span>{{data.users.[16].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[16].totalPoints}}</span>
                     </p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">18º Lugar - <span>{{data.users.[17].fullName}}</span></h3>
                     <p class="view_list__items___total">Pontuação total de reações:
                        <span>{{data.users.[17].totalPoints}}</span></p>
                  </li>
                  <li class="view_list__items">
                     <h3 class="position_name">19º Lugar - <span>{{data.users.[18].fullName}}</span></h3>
                     <p class="view_list__items___total">
                        Pontuação total de reações:
                        <span>{{data.users.[18].totalPoints}}</span>
                     </p>
                  </li>
               </ul>
            </div>
			</ul>
		</div>
	</section>

   <form action="/toreaction/{{data.acess.userAcess}}&{{data.acess.typeAcess}}" class="gets" method="GET">
		<div class='change_page'>
			<i class='icon-heart'></i>
		</div>
	</form>

	<form action="/toranking/{{data.acess.userAcess}}&{{data.acess.typeAcess}}" class="gets" method="GET">
		<div class='change_page'>
			<i class='icon-award'></i>
		</div>
	</form>

   <form action="/logout" method="DELETE">
		<div class='change_page'>
			<i class='icon-log-out'></i>
		</div>
	</form>

   <div class='modal-wrapper-logout'>
      <div class='modal-logout'>
         
         <label for="logout">Deseja mesmo finalizar a sessão?</label>

         <form action='/reactions' method='POST'>
            <input name="logout" id="cancel" type="button" value="Cancelar">
            <input name="logout" id="logout" type="button" value="Sair">
         </form>
      </div>
   </div>

   <div class='modal_wrapper_info'>
	<div class='modal'>
		<div class="modal_header">
         <h2>Regras de pontuação</h2>
         <i class="icon-x"></i>
      </div>
      <div class="modal_body">
         <table>
            <thead>
               <tr>
                  <th>Reação recebida</th>
                  <th>Pontuação da reação</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Colaboração</td>
                  <td>1 ponto</td>
               </tr>
               <tr>
                  <td>Like</td>
                  <td>2 pontos</td>
               </tr>
               <tr>
                  <td>Orgulho</td>
                  <td>3 pontos</td>
               </tr>
               <tr>
                  <td>Excelente trabalho</td>
                  <td>4 pontos</td>
               </tr>
            </tbody>
         </table>
      </div>
	</div>
</div>

</main>

<footer id='footer'>
	<section class='footer container'>
		<p>@2022 - <span class='header_span'>.</span> collaborators</p>
	</section>
</footer>

<script src='/js/darkMode.js'></script>
<script src='/js/ranking/ranking.js'></script>
<script src="/js/ranking/infoModal.js"></script>
<script src="/js/reaction/reaction.js"></script>
<script src="/js/login/logoutModal.js"></script>