<header id='header'>
			<div class='header container'>
				<div class='header_title'>
					<img class="header_logo" src="/assets/logo_collaborators.png" alt="Logo do site">
               <h1><span class="header_span">.</span>collaborators</h1>
				</div>
				<p class='header_text'>
					Olá {{data.users}}, veja as reações que você recebeu
				</p>
				<label for='switch' class='label_checkbox'>
					<input type='checkbox' id='switch' />
				</label>
			</div>
</header>
<main>
	<section class='container dashboard'>
		<div class='received'>
			<div class='received_header'>
				<h1 class='received_title'>Reações recebidas</h1>
				<button class='login_form__btn login_form__btn2 received_btn'>
					<i class='icon-user-plus'></i>
					Avaliar colega
				</button>
			</div>
			<ul class='received_list'>
				<li class='received_list__items'>
					<h1>Likes recebidos: <span>{{data.users.like.qnt}}</span></h1>
					<p>{{data.users.like.strings.[0]}}</p>
               <p>{{data.users.like.strings.[1]}}</p>
               <p>{{data.users.like.strings.[2]}}</p>
               <p>{{data.users.like.strings.[3]}}</p>
				</li>
				<li class='received_list__items'>
					<h1>Excelente trabalho recebidos: <span>{{data.users.work.qnt}}</h1>
					<p>{{data.users.work.strings.[0]}}</p>
					<p>{{data.users.work.strings.[1]}}</p>
               <p>{{data.users.work.strings.[2]}}</p>
               <p>{{data.users.work.strings.[3]}}</p>
				</li>

				<li class='received_list__items'>
					<h1>Colaboração recebidos: <span>{{data.users.colaboration.qnt}}</h1>
					<p>{{data.users.colaboration.strings.[0]}}</p>
               <p>{{data.users.colaboration.strings.[1]}}</p>
               <p>{{data.users.colaboration.strings.[2]}}</p>
               <p>{{data.users.colaboration.strings.[3]}}</p>
				</li>
            <li class='received_list__items'>
					<h1>Orgulho recebidos recebidos: <span>{{data.users.proud.qnt}}</h1>
					<p>{{data.users.proud.strings.[0]}}</p>
               <p>{{data.users.proud.strings.[1]}}</p>
               <p>{{data.users.proud.strings.[2]}}</p>
               <p>{{data.users.proud.strings.[3]}}</p>
				</li>
			</ul>
		</div>
	</section>

	<form action="/toreaction/{{data.acess.userAcess}}&{{data.acess.typeAcess}}" class="gets" method="GET">
		<div class='change_page'>
			<i class='icon-heart'></i>
		</div>
	</form>

	<form action="/toranking/{{data.acess.userAcess}}&{{data.acess.typeAcess}}" class="gets" method="GET">
		<div class='change_page'>
			<i class='icon-award'></i>
		</div>
	</form>

   <form action="/logout" method="GET">
		<div class='change_page'>
			<i class='icon-log-out'></i>
		</div>
	</form>

   <div class='modal-wrapper-logout'>
      <div class='modal-logout'>
         
         <label for="logout">Deseja mesmo finalizar a sessão?</label>

         <form action='/reactions' method='POST'>
            <input name="logout" id="cancel" type="button" value="Cancelar">
            <input name="logout" id="logout" type="button" value="Sair">
         </form>
      </div>
   </div>


</main>

<div class='modal-wrapper'>
	<div class='modal'>
		<h2>Enviar uma reação</h2>

		<form action='/reactions' method='POST'>
			<label class='sr-only' for='person'> A quem você quer reagir? </label>

			<div class='list-choice list_one'>
				<div class='list-choice-title'>Membros</div>
				<div class='list-choice-objects'>

				</div>
			</div>

			<div class='options'>
				<label for='reasons' class="reaction">Como você quer reagir?</label>
            <div class='list-choice list_two'>
               <div class='list-choice-title'>Reações</div>
               <div class='list-choice-objects'>

               </div>
            </div>
			</div>

         <div class="from_phrase">
            <label for="phrase">Qual frase deseja enviar junto da reação?</label>
            <input type="text" name="phrase" id="phrase">
         </div>

			<div class='buttons'>
				<div class='button grey cancel'>Cancelar</div>
				<button class='red login_form__btn login_form__btn2'>Enviar reação</button>
			</div>
		</form>
	</div>
</div>

<footer id='footer'>
	<section class='footer container'>
		<p>@2022 - <span class='header_span'>.</span> collaborators</p>
	</section>
</footer>

<script src='/js/darkMode.js'></script>
<script src='/js/reaction/reaction.js'></script>
<script src='/js/reaction/modal.js'></script>
<script src="/js/login/logoutModal.js"></script>